body{
	text-align: center;
	font-family: Helvetica;
}

	/********** Base styles **********/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 10px;
  font-size: 28px;

}

p {
  border: 1px solid black;
  background-color: #7F7F7F;
  width: 100%;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  color: black;
  text-align: left;
}

.box{
	position: relative;
}

.T {
  border: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 25px;
  font-size: 125%;
}

#Tchicken{
	background-color: #F9A8AF;
}

#Tbeef{
	background-color: #B0303B;
	color: white;
}

#Tsushi {
	background-color: #DABD67;
}

.row {
  width: 100%;
}

/********** Large devices **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 10px solid white;
    width: 33.33%;
  }
}

/********** Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
    border: 10px solid white;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    border: 10px solid white;
    width: 100%;
}
